
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarProfileImgContainer{
    position: relative;
    margin-right: 10px;
}
.rightbarProfileImg{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.rightbarOnline{
    position: absolute;
}
.rightbarOnline{
    height: 12px;
    width: 12px;
    background-color: #60ec1b;
    top: 1px;
    right: -4px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.rightbarUserName{
    font-size: 15px;
    font-weight: 600;
}